/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* p {
  text-wrap: pretty;
} */
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

/* variables */
:root {
  /* colors */
  --green: hsl(75, 94%, 57%);
  --white: hsl(0, 0%, 100%);
  --grey-700: hsl(0, 0%, 20%);
  --grey-800: hsl(0, 0%, 12%);
  --grey-900: hsl(0, 0%, 8%);

  /* typography */
  --scala: 1.2;
  --base: 0.9rem;

  --size-xl: calc(var(--size-l) * var(--scala));
  --size-l: calc(var(--size-m) * var(--scala));
  --size-m: calc(var(--size-normal) * var(--scala));
  --size-normal: var(--base);
  --size-sm: calc(var(--size-normal) / var(--scala));
  --size-xs: calc(var(--size-sm) / var(--scala));

  --font: "Inter", sans-serif;

  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
}

/* styles */
body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  background-color: var(--grey-900);
  color: var(--white);
  font-family: var(--font);
  font-size: var(--base);
  font-weight: var(--font-weight-regular);

  article {
    background-color: var(--grey-800);
    border-radius: 0.8rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 1.5rem;

    header {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1.5rem;

      img {
        width: 5.5rem;
        border-radius: 50%;
      }

      div {
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
          font-weight: var(--font-weight-semibold);
          font-size: var(--size-xl);
          letter-spacing: 2%;
        }

        > p:first-of-type {
          color: var(--green);
          font-weight: var(--font-weight-semibold);
        }
      }
    }

    ul {
      display: flex;
      flex-direction: column;
      align-items: center;

      gap: 1rem;
      padding: 0;

      li {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--grey-700);
        width: 285px;
        height: 45px;
        border-radius: 0.5rem;

        a {
          color: var(--white);
          text-decoration: none;
          font-weight: var(--font-weight-semibold);
        }
      }
    }
  }
}

/* attribution */
.attribution {
  font-size: 0.6875rem;
  text-align: center;

  a {
    color: var(--green);
  }
}
